<!DOCTYPE html>
<html>
   <head>
      <title>Customer Import</title>
   </head>
   <body>
      {% include 'header.html' %}
		<h1>
		Customer Import
		</h1>
      <p>Total number of records in the database: {{ totRec }}</p>
      <br>
      <!--output of imported file -->
      {% if source == 'POST' %}
			{% set file = request.file['file'] %}
            <h4>File processed: </h4> {{ file }}
            <h4>Total records processed: </h4>
            <h4>Total records inserted: </h4>
			{% else %}
				{% set numrecs = cusRecords|length %}
				{% if numrecs == 0 %}
					<h2>No results match search criteria!</h2>
				{% else %}
					<h2>Search Results</h2>
               Number of records found: {{ numrecs }}
            
         {% endif %}
      {% endif %}
      <form action = "/import" method="POST"></form>
      <form action = "http://localhost:5000/result_fileprocess" method = "POST">
	   <table>
		  <tr>
		   <td>Source File:</td><td><input type = "file" name = "txtfile" /></td>
		  </tr>
		</table>
		<p><input type = "submit" value = "Import" /> <input type = "reset" value="Reset"></p>
      </form>
      {% include 'footer.html' %}
   </body>
</html>